<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime requestValidationMode="2.0"/>
  </system.web>
  <appSettings>
    <add key="timeoutOfSession" value="10"/>
    <add key="BrokerREST-PASOE" value="http://10.151.0.28:8080/RESTService-edp-entw/rest/POST/Server"/>
    <add key="BrokerREST-Tomcat" value="https://10.151.200.100:8980/RESTServiceENTW-LP/rest/POST/Server"/>
    <add key="BrokerUrlREST_ENTW" value="https://10.151.200.100:8980/RESTServiceENTW-LP/rest/POST/Server"/>
    <add key="BrokerUrlREST_ENTW-sh" value="http://172.28.0.41:8080/RESTServletSHNProd/rest/POST/Server"/>
    <add key="BrokerUrlREST_RAPP" value="https://10.151.201.11:8980/RESTServiceRAPP-P/rest/POST/Server"/>
    <add key="BrokerURL" value="http://10.151.200.10/sonicbroker/broker.asp"/>
    <add key="Favicon_Path" value="./icons/"/>
    <add key="Firma" value="02"/>
    <add key="Password" value="sonic4edp"/>
    <add key="RappNumMax" value="200"/>
  </appSettings>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="index.jsp"/>
        <add value="crm.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>